.search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    width: 75%;
    background-color: #EDF3E2;
    margin: 2rem;
    box-shadow: 1px 2px 3px #575C4E;
    font-size: 20px;
    color: #575C4E;
    font-weight: 600;
    border-radius: 10px;
    
  }
  
  input#search {
    max-width: 95%;
    width: 95%;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 20px;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: none;
  }



  label {
      padding-left: 10px;
  }

